@import "../vendor/halfmoon/halfmoon.css";
@import "../vendor/halfmoon/halfmoon.modern.css";

.hidden {
    display: none;
}

.show,
.show .modal-backdrop {
    display: block;
}

.phx-click-loading #block-add-loader {
    display: block;
}

.phx-click-loading #block-add-info {
    display: none;
}

.no-border {
    border: none;
}

.logo {
    background: #1246ff;
    background: linear-gradient(
        to right,
        #1246ff 0%,
        #df2bff 50%,
        #ff2d93 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #ff2d93;
    text-transform: capitalize;
}

.modal-open {
    overflow: hidden;
    /* padding-right: 15px; */
}

.modal-backdrop {
    display: none;
}

[data-bs-core="trvlr"] {
    --bs-body-bg: hsla(0, 0%, 0%, 1);
    --bs-body-color-hsl: 360, 100%, 100%, 1;
    --bs-primary: #ff2d93;
    --bs-primary-hsl: 331, 100%, 59%, 1;
    --bs-primary-hover-bg: #f50076;
    --bs-content-border-color: white;
    --bs-border-color: white;
    --bs-content-floating-bg: hsla(0, 0%, 0%, 1);
    --bs-form-color: hsla(0, 0%, 0%, 1);
    --bs-font-size-base: 0.975rem;

    --bs-content-floating-box-shadow: 3px 3px 0px 0px rgba(256, 256, 256, 1);

    --bs-border-radius: 0;

    .dropdown-item {
        --bs-dropdown-item-border-radius: 0;
        --bs-dropdown-link-hover-bg: hsla(360, 100%, 100%, 1);
        --bs-dropdown-link-hover-color: hsla(0, 0%, 0%, 1);
    }
    .card {
        --bs-card-border-color: white;
        --bs-card-border-radius: var(--bs-border-radius);
    }

    .modal {
        --bs-modal-bg: hsla(0, 0%, 0%, 1);
        --bs-modal-border-radius: var(--bs-border-radius);
        --bs-modal-box-shadow: var(--bs-content-floating-box-shadow);
    }

    .modal-content {
        border-color: #bababa;
    }

    .modal-backdrop {
        --bs-backdrop-opacity: 0.8;
    }
}
